<ul class="nav nav-pills mb-3" id="orderTabs">
    <li class="nav-item">
        <a class="nav-link active" id="orderSummaryTab" data-toggle="pill" href="#orderSummary">
            Order Summary
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="originDestinationTab" data-toggle="pill" href="#originDestination">
            Origin - Destination
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="customerRateTab" data-toggle="pill" href="#customerRate">
            Customer Rate
        </a>
    </li>
</ul>
<div class="tab-content p-4" id="orderTabsContent">
    <div class="tab-pane fade show active" id="orderSummary">
        <p>Order Summary</p>
    </div>
    <div class="tab-pane fade" id="originDestination">
        <app-add-load></app-add-load>
    </div>
    <div class="tab-pane fade" id="customerRate">
        <app-carrier-information></app-carrier-information>
        <app-charges></app-charges>
    </div>
</div>
