<table class="table table-borderless">
    <thead class="bg-dark text-white">
        <tr>
            <th>&zwnj;</th>
            <th *ngFor="let header of columns">{{header["title"]}}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let product of data">
            <tr class="border-top">
                <td *ngIf="!isExpanded(product)">
                    <button type="button" class="btn-expand text-success" (click)="expandProduct(product)">&#43;</button>
                </td>
                <td *ngIf="isExpanded(product)">
                    <button type="button" class="btn-expand text-warning" (click)="collapseProduct()">&#8722;</button>
                </td>
                <td *ngFor="let column of columns">
                    <lib-input *ngIf="isEditing(product)" [type]="column.type" [options]="column.options" [modelObject]="product[column.data]"
                        (valueChanged)="setValue(product, column.data, $event, column.callback)" [addClasses]="'form-control-sm'"
                        (change)="temp(product)">
                    </lib-input>
                    <lib-input *ngIf="!isEditing(product)" [modelObject]="product[column.data]" (valueChanged)="setValue(product, column.data, $event, column.callback)"
                        [overrideClasses]="'form-control-plaintext form-control-sm'" [attrs]="{readonly: true}">
                    </lib-input>
                </td>
            </tr>
            <tr *ngIf="isExpanded(product)">
                <td>&zwnj;</td>
                <td [attr.colspan]="columns.length">
                    <div class="row">
                        <div class="col-md-6 col-lg-4" *ngFor="let detail of details">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label col-form-label-sm">
                                    {{detail.title}}
                                </label>
                                <div class="col-sm-8">
                                    <lib-input *ngIf="isEditing(product)" [modelObject]="product[detail.data]"
                                        (valueChanged)="setValue(product, detail.data, $event, detail.callback)"
                                        [addClasses]="'form-control-sm'">
                                    </lib-input>
                                    <lib-input *ngIf="!isEditing(product)" [modelObject]="product[detail.data]"
                                        (valueChanged)="setValue(product, detail.data, $event, detail.callback)"
                                        [overrideClasses]="'form-control-plaintext form-control-sm'" [attrs]="{readonly: true}">
                                    </lib-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" *ngIf="!isEditing(product)">
                            <button type="button" class="btn btn-secondary btn-sm mr-3" (click)="editProduct(product)">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" *ngIf="isEditing(product)">
                            <button type="button" class="btn btn-secondary btn-sm mr-3" (click)="saveProduct(product)">Save</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="cancelEditing()">Cancel</button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm" (click)="addProduct()">Add Product/Item</button>
