<div class="row">
    <div class="col-md-6">
        <div class="form-group row" *ngIf="!exclude.includes('locationCode')">
            <label class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Location Code
            </label>
            <div class="col-md-9">
                <lib-input [type]="'select'" [addClasses]="'custom-select-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('locationType')">
            <label for="locationType" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Location Type
            </label>
            <div class="col-md-9">
                <lib-input [type]="'select'" [addClasses]="'custom-select-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('name')">
            <label for="name" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Name
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('addressLine1')">
            <label for="address1" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Address
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'" [attrs]="{placeholder: 'Address Line 1'}"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('addressLine2')">
            <div class="col-md-9 ml-auto">
                <lib-input [addClasses]="'form-control-sm'" [attrs]="{placeholder: 'Address Line 2'}"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('city')">
            <label for="city" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                City
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('state')">
            <label for="state-region" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                State/Region
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('country')">
            <label for="country" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Country
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('zipCode')">
            <label for="zip" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Zip
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row" *ngIf="!exclude.includes('contact')">
            <label for="contact" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Contact
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('phone')">
            <label for="phone" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Phone
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('email')">
            <label for="email" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Email
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('comments')">
            <label for="comments" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Comments
            </label>
            <div class="col-md-9">
                <lib-input [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('pickupDateFrom')">
            <label for="pickupDateFrom" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Pickup Date From
            </label>
            <div class="col-md-9">
                <lib-input [type]="'date'" [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('deliveryDateFrom')">
            <label for="deliveryDateFrom" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Delivery Date From
            </label>
            <div class="col-md-9">
                <lib-input [type]="'date'" [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('pickupDateTo')">
            <label for="pickupDateTo" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Pickup Date To
            </label>
            <div class="col-md-9">
                <lib-input [type]="'date'" [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
        <div class="form-group row" *ngIf="!exclude.includes('deliveryDateTo')">
            <label for="deliveryDateTo" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                Delivery Date To
            </label>
            <div class="col-md-9">
                <lib-input [type]="'date'" [addClasses]="'form-control-sm'"></lib-input>
            </div>
        </div>
    </div>
</div>
<div *ngIf="stop['type'] === 'pickup'">
    <div class="row mt-3">
        <div class="col">
            <h5>Products/Items</h5>
        </div>
    </div>
    <div class="row">
        <div class="col table-responsive">
            <lib-product [columns]="productColumns" [details]="hiddenColumns" [data]="stop['products']"></lib-product>
        </div>
    </div>
</div>
