<div class="card">
    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-2 col-form-label col-form-label-sm">
                Customer Enterprise
            </label>
            <div class="col-md-10">
                <select class="custom-select custom-select-sm" #customerSelect
                    [(ngModel)]="selectedCustomer" (ngModelChange)="selectCustomer()">
                    <option *ngFor="let cust of customers" [ngValue]="cust">{{cust.name}}</option>
                </select>
            </div>
        </div>
        <div class="row" *ngIf="selectedCustomer">
            <div class="col">
                <p>
                    <strong>Selected Enterprise:</strong><br />
                    {{selectedCustomer.name}}<br />
                    {{selectedCustomer.id}}<br />
                </p>
            </div>
            <div class="col" *ngIf="selectedCustomer.location">
                <address>
                    <strong>Location:</strong><br />
                    {{selectedCustomer.name}}<br />
                    {{selectedCustomer.location?.address}}<br />
                    {{selectedCustomer.location?.city}}, {{selectedCustomer.location?.state}}, {{selectedCustomer.location?.zipcode}}
                    {{selectedCustomer.location?.country}}<br />
                </address>
            </div>
        </div>
    </div>
</div>
