<div class="row">
    <div class="col">
        <app-customer-select (selected)="onSelected($event)"></app-customer-select>
    </div>
</div>
<div class="d-flex flex-row align-items-center mt-5">
    <h4 class="mr-4">Stops</h4>
    <button type="button" class="btn btn-primary btn-sm mr-4" (click)="addPickup()">Add Pickup</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="addDrop()">Add Drop</button>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item" *ngFor="let stop of load.stops index as i; first as isFirst">
                        <a class="nav-link" data-toggle="tab"
                            [attr.href]="'#pane' + i" [ngClass]="{'active': isFirst}">
                            {{stop.type | titlecase}}: Stop {{i + 1}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade"
                        *ngFor="let stop of load.stops index as i; first as isFirst"
                        [attr.id]="'pane'+ i" [ngClass]="{'active show': isFirst}">
                        <div class="d-flex flex-row justify-content-end mb-3">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeStop(i)">
                                Remove Stop
                            </button>
                        </div>
                        <lib-stop-lib [stop]="stop" [exclude]="getExcludes(i)"></lib-stop-lib>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <h4>Required/Special Reference</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="equipmentType" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Equipment Type
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm" name="equipmentType">
                                    <option value="air">Air</option>
                                    <option value="flatbed">Flatbed</option>
                                    <option value="intermodal">Intermodal</option>
                                    <option value="ltl">LTL</option>
                                    <option value="rail">Rail</option>
                                    <option value="reefer">Reefer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="poNumber" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                PO Number
                            </label>
                            <div class="col-md-9">
                                <input class="form-control form-control-sm" name="poNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="salesRep" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Sales Rep
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm" name="salesRep"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="committed" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Committed
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm" name="committed"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="costCenter" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Cost Center
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm" name="costCenter"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mgmtLocation" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Mgmt Location
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm" name="mgmtLocation"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col">
                                <span class="col-form-label-sm">Add Reference</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row" *ngFor="let ref of references index as i;">
                            <div class="input-group mt-2 mr-3">
                                <select class="custom-select custom-select-sm" [(ngModel)]="ref['reference']">
                                    <option value="account number">Account Number</option>
                                    <option value="billed date">Billed Date</option>
                                    <option value="appointment number">Appointment Number</option>
                                </select>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="ref['description']"
                                    placeholder="Description">
                            </div>
                            <button type="button" class="close text-danger" (click)="removeReference(i)">
                                &times;
                            </button>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm mt-3" (click)="addReference()">
                            Add Reference
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#servicesModal">
            Accessorial Services
        </button>
        <div class="row" *ngIf="services.length > 0">
            <div class="col-md-3">
                <ul class="list-group text-sm mt-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let service of services">
                        {{service}}
                        <button type="button" class="close text-danger"
                            (click)="toggleService(service, false)">&times;</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="servicesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="4ft Steel Tarp"
                                id="steelTarp4" #steelTarp4 [checked]="checkService(steelTarp4.value)"
                                (change)="toggleService(steelTarp4.value, steelTarp4.checked)">
                            <label for="steelTarp4" class="custom-control-label">4ft Steel Tarp</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="4x4 Hardwood Lumber"
                                id="hardwoodLumber" #hardwoodLumber [checked]="checkService(hardwoodLumber.value)"
                                (change)="toggleService(hardwoodLumber.value, hardwoodLumber.checked)">
                            <label for="hardwoodLumber" class="custom-control-label">4x4 Hardwood Lumber</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="6 Foot Tarp"
                                id="tarp6" #tarp6 [checked]="checkService(tarp6.value)"
                                (change)="toggleService(tarp6.value, tarp6.checked)">
                            <label for="tarp6" class="custom-control-label">6 Foot Tarp</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="8 Foot Tarp"
                                id="tarp8" #tarp8 [checked]="checkService(tarp8.value)"
                                (change)="toggleService(tarp8.value, tarp8.checked)">
                            <label for="tarp8" class="custom-control-label">8 Foot Tarp</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="After Hours Delivery"
                                id="afterHours" #afterhours [checked]="checkService(afterhours.value)"
                                (change)="toggleService(afterhours.value, afterhours.checked)">
                            <label for="afterHours" class="custom-control-label">After Hours Delivery</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Beveled Lumber"
                                id="beveledLumber" #beveledLumber [checked]="checkService(beveledLumber.value)"
                                (change)="toggleService(beveledLumber.value, beveledLumber.checked)">
                            <label for="beveledLumber" class="custom-control-label">Beveled Lumber</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Carbon Black Charge"
                                id="carbonBlackCharge" #carbonBlackCharge [checked]="checkService(carbonBlackCharge.value)"
                                (change)="toggleService(carbonBlackCharge.value, carbonBlackCharge.checked)">
                            <label for="carbonBlackCharge" class="custom-control-label">Carbon Black Charge</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Chains & Binders"
                                id="chainsBinders" #chainsBinders [checked]="checkService(chainsBinders.value)"
                                (change)="toggleService(chainsBinders.value, chainsBinders.checked)">
                            <label for="chainsBinders" class="custom-control-label">Chains & Binders</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Hazardous Material"
                                id="hazardous" #hazardous [checked]="checkService(hazardous.value)"
                                (change)="toggleService(hazardous.value, hazardous.checked)">
                            <label for="hazardous" class="custom-control-label">Hazardous Material</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Headache Rack"
                                id="headacheRack" #headacheRack [checked]="checkService(headacheRack.value)"
                                (change)="toggleService(headacheRack.value, headacheRack.checked)">
                            <label for="headacheRack" class="custom-control-label">Headache Rack</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Inside Delivery"
                                id="insideDelivery" #insideDelivery [checked]="checkService(insideDelivery.value)"
                                (change)="toggleService(insideDelivery.value, insideDelivery.checked)">
                            <label for="insideDelivery" class="custom-control-label">Inside Delivery</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Inside Pickup"
                                id="insidePickup" #insidePickup [checked]="checkService(insidePickup.value)"
                                (change)="toggleService(insidePickup.value, insidePickup.checked)">
                            <label for="insidePickup" class="custom-control-label">Inside Pickup</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Lift Gate Delivery"
                                id="liftGateDelivery" #liftGateDelivery [checked]="checkService(liftGateDelivery.value)"
                                (change)="toggleService(liftGateDelivery.value, liftGateDelivery.checked)">
                            <label for="liftGateDelivery" class="custom-control-label">Lift Gate Delivery</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Lift Gate Pickup"
                                id="liftGatePickup" #liftGatePickup [checked]="checkService(liftGatePickup.value)"
                                (change)="toggleService(liftGatePickup.value, liftGatePickup.checked)">
                            <label for="liftGatePickup" class="custom-control-label">Lift Gate Pickup</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Limited Access Fee"
                                id="limitedAccess" #limitedAccess [checked]="checkService(limitedAccess.value)"
                                (change)="toggleService(limitedAccess.value, limitedAccess.checked)">
                            <label for="limitedAccess" class="custom-control-label">Limited Access Fee</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Load Bars"
                                id="loadBars" #loadBars [checked]="checkService(loadBars.value)"
                                (change)="toggleService(loadBars.value, loadBars.checked)">
                            <label for="loadBars" class="custom-control-label">Load Bars</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#equipmentModal">
            Equipment
        </button>
        <div class="row" *ngIf="equipment.length > 0">
            <div class="col-md-3">
                <ul class="list-group text-sm mt-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let item of equipment">
                        {{item}}
                        <button type="button" class="close text-danger"
                            (click)="toggleEquipment(item, false)">&times;</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="equipmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Equipment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Conestoga"
                                id="conestoga" #conestoga [checked]="checkEquipment(conestoga.value)"
                                (change)="toggleEquipment(conestoga.value, conestoga.checked)">
                            <label for="conestoga" class="custom-control-label">Conestoga</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Container"
                                id="container" #container [checked]="checkEquipment(container.value)"
                                (change)="toggleEquipment(container.value, container.checked)">
                            <label for="container" class="custom-control-label">Container</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Double Drop"
                                id="doubleDrop" #doubleDrop [checked]="checkEquipment(doubleDrop.value)"
                                (change)="toggleEquipment(doubleDrop.value, doubleDrop.checked)">
                            <label for="doubleDrop" class="custom-control-label">Double Drop</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Flatbed"
                                id="flatbed" #flatbed [checked]="checkEquipment(flatbed.value)"
                                (change)="toggleEquipment(flatbed.value, flatbed.checked)">
                            <label for="flatbed" class="custom-control-label">Flatbed</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Flatbed Hazmat"
                                id="flatbedHazmat" #flatbedHazmat [checked]="checkEquipment(flatbedHazmat.value)"
                                (change)="toggleEquipment(flatbedHazmat.value, flatbedHazmat.checked)">
                            <label for="flatbedHazmat" class="custom-control-label">Flatbed Hazmat</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Flatbed Intermodal"
                                id="flatbedIntermodal" #flatbedIntermodal [checked]="checkEquipment(flatbedIntermodal.value)"
                                (change)="toggleEquipment(flatbedIntermodal.value, flatbedIntermodal.checked)">
                            <label for="flatbedIntermodal" class="custom-control-label">Flatbed Intermodal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Flatbed Team"
                                id="flatbedTeam" #flatbedTeam [checked]="checkEquipment(flatbedTeam.value)"
                                (change)="toggleEquipment(flatbedTeam.value, flatbedTeam.checked)">
                            <label for="flatbedTeam" class="custom-control-label">Flatbed Team</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Flatbed w/Tarps"
                                id="flatbedTarps" #flatbedTarps [checked]="checkEquipment(flatbedTarps.value)"
                                (change)="toggleEquipment(flatbedTarps.value, flatbedTarps.checked)">
                            <label for="flatbedTarps" class="custom-control-label">Flatbed w/Tarps</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Flatbed with Sides"
                                id="flatbedSides" #flatbedSides [checked]="checkEquipment(flatbedSides.value)"
                                (change)="toggleEquipment(flatbedSides.value, flatbedSides.checked)">
                            <label for="flatbedSides" class="custom-control-label">Flatbed with Sides</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Plate Trl"
                                id="plateTrl" #plateTrl [checked]="checkEquipment(plateTrl.value)"
                                (change)="toggleEquipment(plateTrl.value, plateTrl.checked)">
                            <label for="plateTrl" class="custom-control-label">Plate Trl</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Pneumatic"
                                id="pneumatic" #pneumatic [checked]="checkEquipment(pneumatic.value)"
                                (change)="toggleEquipment(pneumatic.value, pneumatic.checked)">
                            <label for="pneumatic" class="custom-control-label">Pneumatic</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Power Only"
                                id="powerOnly" #powerOnly [checked]="checkEquipment(powerOnly.value)"
                                (change)="toggleEquipment(powerOnly.value, powerOnly.checked)">
                            <label for="powerOnly" class="custom-control-label">Power Only</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Reefer"
                                id="reefer" #reefer [checked]="checkEquipment(reefer.value)"
                                (change)="toggleEquipment(reefer.value, reefer.checked)">
                            <label for="reefer" class="custom-control-label">Reefer</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Reefer 48"
                                id="reefer48" #reefer48 [checked]="checkEquipment(reefer48.value)"
                                (change)="toggleEquipment(reefer48.value, reefer48.checked)">
                            <label for="reefer48" class="custom-control-label">Reefer 48</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Reefer 53"
                                id="reefer53" #reefer53 [checked]="checkEquipment(reefer53.value)"
                                (change)="toggleEquipment(reefer53.value, reefer53.checked)">
                            <label for="reefer53" class="custom-control-label">Reefer 53</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Reefer Hazmat"
                                id="reeferHazmat" #reeferHazmat [checked]="checkEquipment(reeferHazmat.value)"
                                (change)="toggleEquipment(reeferHazmat.value, reeferHazmat.checked)">
                            <label for="reeferHazmat" class="custom-control-label">Reefer Hazmat</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Reefer Intermodal"
                                id="reeferIntermodal" #reeferIntermodal [checked]="checkEquipment(reeferIntermodal.value)"
                                (change)="toggleEquipment(reeferIntermodal.value, reeferIntermodal.checked)">
                            <label for="reeferIntermodal" class="custom-control-label">Reefer Intermodal</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="Reefer Team"
                                id="reeferTeam" #reeferTeam [checked]="checkEquipment(reeferTeam.value)"
                                (change)="toggleEquipment(reeferTeam.value, reeferTeam.checked)">
                            <label for="reeferTeam" class="custom-control-label">Reefer Team</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <textarea class="form-control" rows="6" placeholder="Notes"></textarea>
    </div>
</div>
