<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label class="col-form-label-sm mb-0">Charge Description</label>
                        <select class="custom-select custom-select-sm">
                            <option value="tollCharges">Toll Charges</option>
                            <option value="customs">Customs</option>
                            <option value="detention">Detention</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <label class="col-form-label-sm mb-0">Rate</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-3">
                        <label class="col-form-label-sm mb-0">Qualifier</label>
                        <select class="custom-select custom-select-sm">
                            <option value="flatRate">Flat Rate</option>
                            <option value="perMile">Per Mile</option>
                            <option value="perPound">Per Pound</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <label class="col-form-label-sm mb-0">Qty</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-2">
                        <label class="col-form-label-sm mb-0">Total</label>
                        <input type="text" class="form-control-plaintext form-control-sm text-right" readonly value="$00.00">
                    </div>
                    <div class="col-lg-2">
                        <label class="col-form-label-sm mb-0">Nontaxable</label>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="nontax1">
                            <label class="custom-control-label" for="nontax1">&zwnj;</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <p class="col-form-label-sm mb-0">Discount</p>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-3">
                        <select class="custom-select custom-select-sm">
                            <option value="flatRate">Flat Rate</option>
                            <option value="perMile">Per Mile</option>
                            <option value="perPound">Per Pound</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control-plaintext form-control-sm text-right" readonly value="$00.00">
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="nontax2">
                            <label class="custom-control-label" for="nontax2">&zwnj;</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label class="col-lg-8 col-form-label col-form-label-sm text-lg-right">
                        SubTotal
                    </label>
                    <div class="col-lg-2 border-top border-secondary">
                        <input type="text" class="form-control-plaintext form-control-sm text-right" readonly value="$00.00">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <p class="col-form-label-sm mb-0">Fuel Surcharge</p>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-3">
                        <select class="custom-select custom-select-sm">
                            <option value="flatRate">Flat Rate</option>
                            <option value="perMile">Per Mile</option>
                            <option value="perPound">Per Pound</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control-plaintext form-control-sm text-right" readonly value="$00.00">
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="nontax3">
                            <label class="custom-control-label" for="nontax3">&zwnj;</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <select class="custom-select custom-select-sm">
                            <option value="revenueCharge">Accessorial Revenue Charge</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-3">
                        <select class="custom-select custom-select-sm">
                            <option value="flatRate">Flat Rate</option>
                            <option value="perMile">Per Mile</option>
                            <option value="perPound">Per Pound</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control-plaintext form-control-sm text-right" readonly value="$00.00">
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="nontax4">
                            <label class="custom-control-label" for="nontax4">&zwnj;</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <select class="custom-select custom-select-sm">
                            <option value="revenueCharge">Accessorial Revenue Charge</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-3">
                        <select class="custom-select custom-select-sm">
                            <option value="flatRate">Flat Rate</option>
                            <option value="perMile">Per Mile</option>
                            <option value="perPound">Per Pound</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <input type="text" class="form-control form-control-sm">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control-plaintext form-control-sm text-right" readonly value="$00.00">
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="nontax5">
                            <label class="custom-control-label" for="nontax5">&zwnj;</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
