<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="carrierName" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Carrier Name
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="carrierMode" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Carrier Mode
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm">
                                    <option value="air">Air</option>
                                    <option value="flatbed">Flatbed</option>
                                    <option value="intermodal">Intermodal</option>
                                    <option value="ltl">LTL</option>
                                    <option value="rail">Rail</option>
                                    <option value="reefer">Reefer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="services" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Services
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm">
                                    <option value="standard">Standard</option>
                                    <option value="guaranteed">Guaranteed</option>
                                    <option value="expedited">Expedited</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Address
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="distance" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Distance
                            </label>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-primary btn-sm">Calculate</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="currency" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Currency
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm">
                                    <option value="usd">USA Dollar (USD)</option>
                                    <option value="cad">Canadian Dollar (CAD)</option>
                                    <option value="eur">Euro (EUR)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="serviceDays" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Service Days
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="contract" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Re-Rating Contract
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reason" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Reason
                            </label>
                            <div class="col-md-9">
                                <select class="custom-select custom-select-sm">
                                    <option value="declined">Carrier Declined</option>
                                    <option value="request">Customer Request</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sequence" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Squence
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="comments" class="col-md-3 col-form-label col-form-label-sm text-md-right">
                                Comments
                            </label>
                            <div class="col-md-9">
                                <textarea rows="3" class="form-control form-control-sm"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
