<label *ngIf="label">{{label}}</label>
<ng-container *ngIf="type == 'select'">
    <select #selectElement [class]="classes"
        (change)="inputValue(selectElement.value)"
        libElementAttributes [attrs]="attrs">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
    </select>
</ng-container>
<ng-container *ngIf="type !== 'select'">
    <input #inputElement type="{{type}}" [class]="classes"
        (change)="inputValue(inputElement.value)"
        libElementAttributes [attrs]="attrs">
</ng-container>
